div.reviewDiv{
    max-width : 1013px;
    margin    : 10px auto;
}
div.reviewProductInfoImg{
    border     : 1px solid #E7E7E7;
    width      : 464px;
    text-align : center;
    float      : left;
}
div.reviewProductInfoRightDiv{
    overflow   : hidden;
    border-top : 1px solid #E7E7E7;
    padding    : 30px 20px;
}
div.reviewProductInfoRightText{
    color       : black;
    font-size   : 16px;
    font-weight : bold;
}
table.reviewProductInfoTable{
    margin    : 20px 10px;
    font-size :12px;
}
table.reviewProductInfoTable td{
    padding-bottom : 5px;
    color          : #999999;
}
span.reviewProductInfoTablePrice{
    color       : #C40000;
    font-size   : 20px;
    font-weight : bold;
}
span.reviewProductInfoTableSellNumber{
    color       : #C40000;
    font-size   : 14px;
    font-weight : bold;
}
div.reviewProductInfoRightBelowDiv{
    border           : 1px solid #F6F5F3;
    background-color : #FDFBFA;
    height           : 166px;
    padding          :16px 0px 16px 81px;
}
span.reviewProductInfoRightBelowImg{
    background-color  : white;
    border            : 1px solid #E1E1E1;
    display           : inline-block;
    width             : 23px;
    height            : 42px;
    background-image  :url(images/reviewLight.png);
    background-repeat : no-repeat;
    padding           : 0px;
}
span.reviewProductInfoRightBelowText{
    border    : 1px solid #EFEFEF;
    display   : inline-block;
    width     : 200px;
    height    : 42px;
    padding   : 4px;
    position  : relative;
    left      : -4px;
    top       : -7px;
    color     : #666666;
    font-size :12px;
}
img.reviewProductImg{
    width  :400px;
    height :400px;
}