/*结算页面 start*/


/*头部和收货地址 start*/
div.buyPageDiv {
	margin    : 20px auto;
	max-width : 1013px;
	/*设置了宽度就可以设置居中了*/
}
div.address {
	margin     : 20px 5px;
	text-align : left;
}
div.addressTip, div.productListTip {
	color         : #333333;
	font-size     : 16px;
	font-weight   : bold;
	text-align    : left;
	margin-bottom : 30px;
}
table.addressTable {
	margin    : 20px;
	width     : 600px;
	font-size : 12px;
}
table.addressTable td {
	color          : #333333;
	vertical-align : top;
	padding-right  : 5px;
	text-align     : left;
	height         : 30px;
}
table.addressTable td.firstColumn {
	width : 100%;
}
table.addressTable td textarea {
	border        : 1px solid #AFAFAF;
	margin-bottom : 10px;
	width         : 400px;
}
table.addressTable td input{
	border : 1px solid #AFAFAF;
	width  : 220px;
}
span.redStar {
	color     : red;
	font-size : 8px;
}
/*头部和收货地址 end*/








/*确认订单信息 start*/
div.addressTip, div.productListTip {
	color         : #333333;
	font-size     : 16px;
	font-weight   : bold;
	text-align    : left;
	margin-bottom : 30px;
}
table.productListTable {
	width     : 100%;
	font-size : 12px;
}
table.productListTable th {
	color          : #999999;
	font-family    : 宋体;
	font-weight    : normal;
	text-align     : center;
	padding-bottom : 5px;
}
table.productListTable tr.rowborder td {
	background-color : #b2d1ff;
	height           : 3px;
}
th.productListTableFirstColumn {
	text-align: left !important;
}
img.tmallbuy {
	width : 15px;
}
div.buyPageDiv a.marketLink {
	color       : black;
	font-size   : 12px;
	font-family : 宋体;
	font-weight : normal;
}
div.buyPageDiv a.marketLink:hover {
	color           : black;
	font-size       : 12px;
	text-decoration : underline;
	font-family     : 宋体;
	font-weight     : normal;
}
span.wangwangGif {
	display             : inline-block;
	background-image    : url(../images/wangwang.gif);
	background-color    : transparent;
	background-position : -81px -2px;
	width               : 20px;
	height              : 20px;
	position            : relative;
	top                 : 5px;
}
tbody.productListTableTbody td {
	text-align : center;
}
tbody.productListTableTbody td.orderItemFirstTD {
	text-align : left;
}
tr.orderItemTR td {
	border-bottom : 1px solid #e5e5e5;
	padding       : 10px 10px;
}
img.orderItemImg {
	width  : 50px;
	height : 50px;
	border : 1px solid #e9e9e9;
}
td.orderItemProductInfo {
	text-align : left !important;
}
td.orderItemProductInfo img {
	height : 16px;
}
div.buyPageDiv a.orderItemProductLink {
	color   : #666666;
	display : block;
}
div.buyPageDiv a.orderItemProductLink:hover {
	color           : #666666;
	text-decoration : underline;
}
span.orderItemProductPrice, span.orderItemProductNumber {
	color: #000000;
}
span.orderItemUnitSum {
	color       : #CC0000;
	font-weight : bold;
}
td.orderItemFirstTD, td.orderItemLastTD {
	border-bottom : 0px solid black !important;
}
label.orderItemDeliveryLabel {
	color       : #666666;
	font-family : 宋体;
	font-size   : 12px;
	font-weight : normal;
}
select.orderItemDeliverySelect{
	width  : 100px;
	height : 23px;
}
div.orderItemSumDiv {
	padding          : 20px;
	border-top       : 2px solid #b4d0ff;
	background-color : #f2f6ff;
	height           : 50px;
}
div.orderItemSumDiv span {
	color : #999999;
}
span.leaveMessageText {
	display      : inline-block;
	margin-right : 10px;
	float        : left;
}
div.orderItemTotalSumDiv {
	margin : 40px;
	height : 40px;
}
div.submitOrderDiv {
	height : 40px;
	margin : 20px 0px;
}
div.orderItemTotalSumDiv span {
	color: #999999;
}
span.orderItemTotalSumSpan {
	color         : #C40000 !important;
	font-size     : 22px;
	font-weight   : bold;
	border-bottom : 1px dotted #F2F6FF;
}
div.buyPageDiv button.submitOrderButton {
	border           : 1px solid #c40000;
	background-color : #c40000;
	text-align       : center;
	line-height      : 40px;
	font-size        : 14px;
	font-weight      : 700;
	color            : white;
	float            : right;
	display          : inline-block;
	margin           : 0 10px;
	width            : 180px;
	height           : 40px;
}
/*确认订单信息 end*/











/*结算页面 end*/